{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}?{% now 'U' %}">

<body>
    <a href="{% url 'marketing:index' %}">Home</a>

    <h1>Polls</h1>
    <div>
        <a href="{% url 'polls:recent' %}">Recent</a>
        <button>Popular</button>
        <button>Oldest</button>
    </div>
    {% if recent_question_list %}
        <ul>
            <li>
                <h2>Question</h2>
                <h2>Published</h2>
            </li>
        {% for question in recent_question_list %}
            <li>
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                <p>{{ question.pub_date }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
