body {
    background-color: lightgray;
    color: black;
}

h1 {
    color: black;
    font-size: 2em;
}

a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-left: 2px solid black;
}